@CHARSET "UTF-8";

body{font-family: "微软雅黑", "宋体", Arial, sans-serif; font-size: 12px; }
*{ margin:0; padding:0;}
a{  color:#333; cursor:pointer;}
span.star{ color:Red; line-height:25px;}
a:hover{text-decoration:underline;}
p{ line-height:26px;}
p,span,b,div{ text-align:left;}
p.p1{line-height:32px;}
.l-clear{ clear:both;}
ul,li{ list-style:none;}

/* 顶部 */
.l-topmenu{ margin:0; padding:0; height:26px; line-height:24px; background:#1B3160 url('../images/top.jpg') repeat-x bottom;  position:relative; border-top:1px solid #7C96AF; border-bottom:2px solid #4E7194;}
.l-topmenu-logo{color:#070A0C;  padding-left:30px; background:url('../images/topicon.gif') no-repeat 10px 4px;}
.l-topmenu-welcome{  position:absolute; height:24px; right:30px; top:0px;color:#070A0C;}
.l-topmenu-welcome a{ color:#070A0C; text-decoration:underline}
.l-topmenu-username{color:#578fcf; font-weight:bold;}

/* 菜单列表 */
.menulist{ margin-left:2px; margin-right:2px; margin-top:2px;text-align:left; color:#000;}
.menulist li{ height:24px; line-height:24px; padding-left:24px; display:block; position:relative; cursor:pointer; text-align:left;}
.menulist li img{ position:absolute; left:4px; top:4px; width:16px; height:16px;}
.menulist li.over{ background:url('../images/menuitem.gif') repeat-x 0px 0px;}
.menulist li.over .menuitem-l{background:url('../images/menuitem.gif') repeat-x 0px -24px; width:2px; height:24px; position:absolute; left:0; top:0;}
.menulist li.over .menuitem-r{background:url('../images/menuitem.gif') repeat-x -1px -24px; width:2px; height:24px; position:absolute; right:0; top:0;}
